.veh-edit-form {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    color: white
}

.inputs {
    margin-top: 4px;
    margin-bottom: 4px;
}

select {
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
}

input {
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
}